<header class="schedule__header">
  <h1 class="page__title">EuRuKo Agenda</h1>
  <p class="page__headline">Check our Agenda and Schedule.</p>

  <nav class="navbar">
    <div class="navbar__inner">
      <ul class="navbar__list">
        <li class="navbar__list__item">
          <a href="/program/1" class="navbar__list__link">
            Day 1 - <time datetime="2024-09-12">12. September</time>
          </a>
        </li>
        <li class="navbar__list__item">
          <a href="/program/2" class="navbar__list__link">
            Day 2 - <time datetime="2024-09-13">13. September</time>
          </a>
        </li>
        <li class="navbar__list__item">
          <a href="/program/3" class="navbar__list__link">
            Day 3 - <time datetime="2024-09-14">14. September</time>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
